/* reset css */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, input, a, textarea{
  box-sizing: border-box;
}

html{
  font-size: 14px;
  font-family: Arial, sans-serif;
  touch-action: manipulation;
  -ms-touch-action: manipulation;
}

@media only screen and (max-width: 767px){
  html{
    font-size: 3.63vw;
  }
}

body {
  font-size:100%;
  min-width: 992px;
  color: #333;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a{
  text-decoration: none;
}

ul, li{
  padding: 0;
  margin: 0;
  list-style: none;
}

/* pc 和 mobile */
.pc-show{
  display: initial !important;
}
.mobile-show, .mobile-show-flex{
  display: none !important;
}
.pc-show-flex{
  display: flex !important;
}
.container{
  width: 992px;
  margin: 0 auto;
}

.prime .container{
  width: 1200px;
}
/* 解决有滚动条时，width:100%,并不能撑满的问题 */
body.prime{
  min-width: 1200px;
}
@media only screen and (max-width: 767px){
  .pc-show, .pc-show-flex{
    display: none !important;
  }
  .mobile-show{
    display: initial !important;
  }
  .mobile-show-flex{
    display: flex !important;
  }
  .container, .prime .container{
    width: 100%;
    min-width: 320px;
  }
  body, body.prime{
    min-width: auto;
  }
}

/* 弹性布局 */
.flex-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.flex-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
}
.flex-row.flex-row-reverse{
  flex-direction: row-reverse;
}
.row-left{
  justify-content: flex-start;
}
.row-center{
  justify-content: center;
}
.row-right{
  justify-content: flex-end;
}
.row-between{
  justify-content: space-between;
}
.col-top{
  align-items: flex-start;
}
.col-center{
  align-items: center;
}
.col-bottom{
  align-items: flex-end;
}
.flex-1{
  flex: 1;
}
.flex-2{
  flex: 2;
}
.flex-3{
  flex: 3;
}
.flex-4{
  flex: 4;
}
.flex-5{
  flex: 5;
}
.flex-6{
  flex: 6;
}
.flex-wrap{
  flex-wrap: wrap;
}
.flex-row.flex-row-reverse{
  flex-direction: row-reverse;
}