.wrap {
  padding-bottom: 3rem;

  .title {
    font-size: 1.3rem;
    margin: 2.2rem 0 1.3rem 0;
  }

  .content {

  }

  .left {
    flex: 1;
  }

  .partAvail, .continue {
    color: #1372D2;
    text-decoration: underline;
  }

  .continue {
    font-size: 1rem;
    padding: 2rem 0;
    display: inline-block;
  }

  .tipTitle, .tipContent {
    font-size: .88rem;
    color: #808080;
  }

  .tipTitle {
    font-weight: bold;
    margin-bottom: .4rem;
  }

  .tipContent {
    line-height: 1.5;
    margin-bottom: 1.5rem;
    margin-top: 0;
  }

  .right {
    max-width: 20.6rem;
    min-width: 20.6rem;
    margin-left: 1.2rem;
  }

  .outside {
    border: 1px solid #D0D0D0;
    margin-top: 2.5rem;
  }
  .emptyWrap{
    min-height: 28rem;
  }
  .emptyTitle, .emptyTips{
    font-size: .9rem;
  }
  .emptyTips{
    padding-top: 1.2rem;
    line-height: 1.5;
    & > li{
      padding: .3rem 0;
    }
  }
  .link{
    color: #1372D2;
    cursor: pointer;
  }
  .problemLink{
    text-decoration: underline;
    cursor: pointer;
    color: #333;
  }
}

@media only screen and (max-width: 767px) {
  .wrap {
    padding-left: 1rem;
    padding-right: 1rem;
    .emptyTitle, .emptyTips{
      font-size: .88rem;
    }
    .emptyTips{
      padding-top: 1.2rem;
      & > li{
        padding: .4rem 0 .4rem 1rem;
        background: url('../imgs/point1.png') left .8rem no-repeat;
      }
    }
    .continue {
      padding: 1rem 0 2.3rem;
    }
  }
}